section {
  margin-top: 20px;
  border-bottom: 3px;
   dashed green}


#secondtitle {
  font-family: 'Anton' ; sans-serif;
  background-color: #D48C6A;
  width: 300px;
  border: 20px;
  padding: 25px;
  margin: 25px;
  float: left;
  clear: both;
}
nav ul, nav ul li { list-style-type: none}
nav ul { margin: 0; padding: 0}
nav ul li { display: inline-block; margin: 80px;}
nav font-family
